@import "../styles/global.module";

$nav-background: #fff;
$nav-font-color: #444444;
$link-hover-color: #f88233e1;
$footer-rights-height: 50px;
$footer-height: 325px;

.footer {
  height: $footer-height;
  bottom: 0;
}

.footer h2 {
  font-size: 1.25em;
}

.footerTop
{
  border-top: 10px solid #555;
}

.inner
{
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  font-size: 1.25em;
}

.sectionsSplits
{
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  font-size: 1em;
}

.sectionsSplits section
{
  min-width: 250px;
  width: 25%;
  margin-left: 9%;
  border-right: 3px solid #444;
}

.sectionsSplits section:first-of-type{
  margin-left: 0%;
}

.sectionsSplits section:last-of-type{
  border-right: none;
}

.rightsOuter
{
  background-color: #333;
  height: $footer-rights-height;
  width: 100%;
}

.rights
{
  margin: 0;
  padding: 0;
  width: 100%;
  height: $footer-rights-height;
  line-height: $footer-rights-height;
  color: #fff;
  text-align: center;
}

.icon
{
  height: 45px;
  width: 45px;
  margin-right: 15px;
}
