@import "../styles/global.module";

$nav-background: #fff;
$nav-font-color: #fff;
$font-color: #fff;
$footer-rights-height: 50px;
$footer-height: 275px;
$footer-color-border-top: #555;
$footer-color-border-bottom: #1B1B1B;

.footer {
  height: $footer-height;
  bottom: 0;
}

.footerBackground{
  background-image:
          url("/images/footer_background.jpg");
  background-repeat: repeat;
  background-position: center;
}

.footer h1 {
  margin-top: 40px;
  color: #fff;
}

.footer h2 {
  font-size: 1.25em;
}

.footerTop
{
  border-top: 10px solid $footer-color-border-top;
}

.inner
{
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  font-size: 1.1em;
  color: $font-color;
}

.sectionsSplits
{
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  font-size: 1em;
}

.sectionsSplits section
{
  min-width: 250px;
  width: 25%;
  margin-left: 9%;
  border-right: 2px solid #444;
}

.sectionsSplits section:first-of-type{
  margin-left: 0%;
}

.sectionsSplits section:last-of-type{
  border-right: none;
}

.rightsOuter
{
  background-color: $footer-color-border-bottom;
  height: $footer-rights-height;
  width: 100%;
}

.rights
{
  margin: 0;
  padding: 0;
  width: 100%;
  height: $footer-rights-height;
  line-height: $footer-rights-height;
  color: #fff;
  text-align: center;
}

.icon
{
  height: 45px;
  width: 45px;
  margin-right: 15px;
}
