/*.sectionWhite {
  background-color: #fff;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index:-100;
}*/

.fullBrowserWidth {
  margin: 0 calc(0px - (100vw - 100%) / 2);

  // !* setting padding left and right here will keep your content from spanning the entire container *!
  // !* avoid setting padding in shorthand elsewhere to prevent overriding*!
  marginpadding-left: calc((100vw - 100%) / 2);
  padding-right: calc((100vw - 100%) / 2);
}

.wrapper {
  padding: 0;
  margin: 0 auto;
  min-width: 900px;
  max-width: 1280px;
}

.backgroundWhite {
  background-color: #fff;
  z-index: -100;
}

.HeaderOrange{
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #f88233;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
}

.whitespaceSmall{
  height: 25px;
  width: 100%;
}

.whitespaceRegular{
  height: 50px;
  width: 100%;
}

.whitespaceMedium{
  height: 75px;
  width: 100%;
}