.projectsGrid {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  min-height: 400px;
  min-width: 250px;
  width: 31%;
  margin: 10px;
  margin-bottom: 30px;
  color: #fff;
  position: relative;
}

.projectImage {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items:center;
  justify-content:center;
  border-color: #fff;
  border-style: solid;
  border-width: 4px;
}

.projectButtonReadMore {
  width: 40%;
  height: 30px;
  background-color: #f88233b4;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  position: absolute;
  top: 4px;
  right: 4px;
}

.projectTitle {
  font-size: 1.5em;
  font-weight: bold;
  height: 50px;
  color: #222;
  background-color: #fff;
  display: flex;
  align-items:center;
  justify-content:center;
  padding: 3px;
}

.project > .badges {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.project > .badges > span {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 10px 5px 20px;
  position: relative;
  margin-right: 5px;
  margin-bottom: 5px;
}

.project > .badges > span:before {
  position: absolute;
  content: '°';
  font-size: 30px;
  top: 4px;
  left: 5px;
}

.projectSectionEnd{
  width: 80%;
  margin-left: 10%;
  height: 2px;
  background-color: #f88233;
  margin-top: 3.5em;
}